<ion-header>
  <ion-toolbar>
    <ion-title>infoProducto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <img *ngFor="let img of productoActivo.images" [src]="img">
    <ion-card-header>
      <ion-card-title>{{productoActivo.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>{{productoActivo.category}}</ion-label>
      <ion-label>{{productoActivo.rating}}</ion-label>
      <ion-label color="warning">{{productoActivo.discoultPercentage}}</ion-label>
      <ion-label>{{productoActivo.description}}</ion-label>
      <ion-label>{{productoActivo.stock}}</ion-label>
      <ion-label>{{productoActivo.brand}}</ion-label>
      <ion-label>{{productoActivo.thumbnail}}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
